{% load extrafilters %}
{% load tz %}
{% timezone 'America/Los_Angeles' %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="{{STATIC_URL}}fuel/assets/ico/favicon.png">
        <link href='http://fonts.googleapis.com/css?family=Berkshire+Swash' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

        <title>Capri | fuel</title>

        <!-- Bootstrap core CSS -->
        <link href="{{STATIC_URL}}fuel/dist/css/bootstrap.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="{{STATIC_URL}}fuel/navbar-fixed-top.css" rel="stylesheet">
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="../../assets/js/html5shiv.js"></script>
        <script src="../../assets/js/respond.min.js"></script>
        <![endif]-->

    </head>

    <body>

        <!-- Fixed navbar -->

        <div id="navbar" class="navbar navbar-inverse navbar-fixed-top" style="background-color: #FF6633; border-style:none;">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" style="border-style:none">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <h3 style="margin-top:10px; margin-left:35px;"><span style="font-style: italic; font-weight: bold; color: #f6f3e5">Capri</span><span style="color:black; font-family: 'Berkshire Swash', cursive;"> | fuel</span></h3>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="/fuel/">Home</a>
                        </li>
                        <li class="active">
                            <a href="/fuel/history/">History</a>
                        </li>
                        <li>
                            <a href="/fuel/faq/">FAQs</a>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>

        <div class="container">
            {% with l=user.CAPRI_FUEL.CAPRI_FUEL_LIST %}
                <div class="alert alert-info container step">

                    <div class="icon-container">
                        <span class="glyphicon glyphicon-list"></span>
                    </div>
                    &nbsp;
                    {% if l|length > 0 %}
                    You have {{ l|length }} fuel-up{{ l|length|pluralize }}.
                    {% else %}
                    You have no fuel-ups.
                    {% endif %}
                </div>

                {% for f in l reversed %}
                <div class="row fuel-entry">
                    <div class="col-xs-2 fuel-entry-img">
                        <img src="/fuel/image/{{ f.id }}/" style="width:100%">
                    </div>
                    <div class="col-xs-10 fuel-entry-cell">
                        <div class="row" >
                            <div class="col-xs-12 fuel-entry-date">
                                <div class="icon-container"><span class="glyphicon glyphicon-time"></span></div>
                                &nbsp;<strong>{{ f.date|date:"SHORT_DATE_FORMAT" }}</strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 fuel-entry-amount">
                                <div class="icon-container"><span class="glyphicon glyphicon-dashboard"></span></div>
                                &nbsp;{{ f.amount }} gal
                            </div>
                            <div class="col-xs-6 fuel-entry-price">
                                <div class="icon-container"><span class="glyphicon glyphicon-usd"></span></div>
                                &nbsp;${{ f.price|floatformat:2 }}/gal
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 fuel-entry-points">
                                <div class="icon-container"><span class="glyphicon glyphicon-record"></span></div>
                                {% if f.points = None %}
                                &nbsp;-
                                {% else %}
                                &nbsp;-{{ f.points }} points
                                {% endif %}
                            </div>
                            <div class="col-xs-6 fuel-entry-reward">
                                <div class="icon-container"><span class="glyphicon glyphicon-gift"></span></div>
                                {% if f.reward_cents = None %}
                                &nbsp;-
                                {% else %}
                                &nbsp;${{ f.reward_cents|times:.01|floatformat:2 }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
 
            {% endwith %}
        </div>

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->

        <script src="{{STATIC_URL}}fuel/assets/js/jquery.js"></script>
        <script src="{{STATIC_URL}}fuel/dist/js/bootstrap.min.js"></script>
        <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
        <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
        <script src="http://www.nihilogic.dk/labs/exif/exif.js"></script>
        <script src="http://www.nihilogic.dk/labs/binaryajax/binaryajax.js"></script>
        <script>


        </script>

    </body>

</html>
{% endtimezone %}
