<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="{{STATIC_URL}}fuel/assets/ico/favicon.png">
        <link href='http://fonts.googleapis.com/css?family=Berkshire+Swash' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

        <title>Capri | fuel</title>

        <!-- Bootstrap core CSS -->
        <link href="{{STATIC_URL}}fuel/dist/css/bootstrap.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="{{STATIC_URL}}fuel/navbar-fixed-top.css" rel="stylesheet">
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="../../assets/js/html5shiv.js"></script>
        <script src="../../assets/js/respond.min.js"></script>
        <![endif]-->

    </head>

    <body>

        <!-- Fixed navbar -->

        <div id="navbar" class="navbar navbar-inverse navbar-fixed-top" style="background-color: #FF6633; border-style:none;">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" style="border-style:none">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <h3 style="margin-top:10px; margin-left:35px;"><span style="font-style: italic; font-weight: bold; color: #f6f3e5">Capri</span><span style="color:black; font-family: 'Berkshire Swash', cursive;"> | fuel</span></h3>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#about" style="link:black">About</a>
                        </li>
                        <li>
                            <a href="#contact">Contact</a>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>

        <div class="container">
            <!-- ---------------------Welcome div--------------------- -->
            <div id="splash_div" style="display:none;">
                <div class="alert alert-success">
                    <h2>Capri Fuel</h2>
                    <p class="lead"> Submit your fuel-up to earn some bucks.</p>
                </div>
            </div>

            <!-- ---------------------Taking picture div--------------------- -->
            <div id="receipt_div">
                <div class="alert alert-info container step">

                    <div class="icon-container">
                        <span class="glyphicon glyphicon-camera"></span>
                    </div>
                    &nbsp;
                    Take a picture of your receipt.
                </div>
                <div style="text-align:center;">
                    <img id="receipt_img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSvFLI-nVCBV40l29R7KDHRbk2CVF1GBCp93em6q5VkNH0PDfGt" style="width:80%; margin-left:auto; margin-right:auto; margin-bottom:10px;">
                </div>
                <input id="receipt_input" name="receipt" type="file" accept="image/*" capture="camera" style="display:none">
            </div>

            <!-- ---------------------Typing in numbers div--------------------- -->
            <div id="number_div" style="display:none;">
                <div class="alert alert-warning container step">
                    <div class="icon-container">
                        <span class="glyphicon glyphicon-dashboard"></span>
                    </div>
                    &nbsp;
                    Enter your fuel-up details.
                </div>
                <form id="fuelup_form" enctype="multipart/form-data" onsubmit="return false;">
                    {% csrf_token %}
                    <h4><span class="label label-primary" style="margin-bottom: 10px">Unit price ($/gal)</span></h4>
                    <input id="price" name="price" type="number" step="any" style="margin-bottom: 15px" class="form-control" placeholder="$/gal">
                    <h4><span class="label label-primary" style="margin-bottom: 10px">Gallons</span></h4>
                    <input id="gallons" name="gallons" type="number" step="any" style="margin-bottom: 15px" class="form-control" placeholder="gal">
                    <h4><span class="label label-primary" style="margin-bottom: 10px">Fuel Grade</span></h4>
                    <div class="btn-group" data-toggle="buttons" style="margin-bottom: 5px">
                        <label class="btn btn-default">
                            <input type="radio" name="grade" value="87" id="grade-87">
                            87 </label>
                        <label class="btn btn-default">
                            <input type="radio" name="grade" value="89" id="grade-89">
                            89 </label>
                        <label class="btn btn-default">
                            <input type="radio" name="grade" value="91" id="grade-91">
                            91 </label>
                        <label class="btn btn-default">
                            <input type="radio" name="grade" value="2"  id="grade-diesel-2">
                            Diesel #2 </label>
                    </div>
                    <div>
                        <h4><span class="label label-primary" style="margin-bottom: 10px">Gas Station Chain</span></h4>
                        <select name="chain" class="form-control input-medium" style="margin-bottom:15px">
                            <option>Shell</option>
                            <option>Chevron</option>
                            <option>Valero</option>
                            <option>Costco</option>
                            <option>Arco</option>
                            <option>76</option>
                            <option>Rotten Robbie</option>
                            <option>Other</option>
                        </select>
                    </div>
                    <div id="para_points" class="alert alert-danger" style="display:none;">
                    We will deduct <span id="remove_points"></span> points from your Capri account for your <span id="add_gallons"></span> gallons fuel-up.
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" id="post_button" style="margin-bottom: 10px">
                    <i class='icon-spinner icon-spin icon-large'></i>
                        <span class="glyphicon glyphicon-gift"></span> Get your reward!
                    </button>
                </form>
            </div>
            
            <div id="waiting_div" style="display:none;">
                <div id="para_points" class="alert alert-info">
                    Uploading. Just a sec.
                </div>
                <div style="text-align:center;">
                    <img src="http://www.mytreedb.com/uploads/mytreedb/loader/ajax_loader_blue_512.gif" style="width:80%; margin-left:auto; margin-right:auto; margin-bottom:10px;">
                </div>
            </div>

            <!-- Div for displaying point deduction and picking fixed or random -->

            <div id="select_div" style="display:none">
                <div class="alert alert-success container step">
                    <div class="icon-container">
                        <span class="glyphicon glyphicon-gift"></span>
                    </div>
                    &nbsp;
                    Choose your reward!
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <button class="btn btn-lg btn-primary btn-block" id="select_dollar_button" style="margin-bottom:10px">
                                <span class="glyphicon glyphicon-usd glyphicon-xlarge"></span>
                                <p>
                                5&cent;/gal reward: $<span id="deterministic_reward"></span>
                                </p>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <button class="btn btn-lg btn-primary btn-block" id="select_game_button" style="margin-bottom:10px">
                                <span class="glyphicon glyphicon-question-sign glyphicon-xlarge"></span>
                                <p>
                                I'm feeling lucky!
                                </p>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Game div -->

            <div id="game_div" style="display:none">
                <div class="alert alert-success container step">
                    <div class="icon-container">
                        <span class="glyphicon glyphicon-question-sign"></span>
                    </div>
                    &nbsp;
                    Pick a square, any square!
                </div>
                <table id="game_table">
                    <tr>
                        <td id="c11"><span class="glyphicon glyphicon-question-sign"></span></td>
                        <td id="c12"><span class="glyphicon glyphicon-question-sign"></span></td>
                        <td id="c13"><span class="glyphicon glyphicon-question-sign"></span></td>
                        <td id="c14"><span class="glyphicon glyphicon-question-sign"></span></td>
                        <td id="c15"><span class="glyphicon glyphicon-question-sign"></span></td>
                    </tr>
                    <tr>
                        <td id="c21"><span class="glyphicon glyphicon-question-sign"></span></td>
                        <td id="c22"><span class="glyphicon glyphicon-question-sign"></span></td>
                        <td id="c23"><span class="glyphicon glyphicon-question-sign"></span></td>
                        <td id="c24"><span class="glyphicon glyphicon-question-sign"></span></td>
                        <td id="c25"><span class="glyphicon glyphicon-question-sign"></span></td>
                    </tr>
                    <tr>
                        <td id="c31"><span class="glyphicon glyphicon-question-sign"></span></td>
                        <td id="c32"><span class="glyphicon glyphicon-question-sign"></span></td>
                        <td id="c33"><span class="glyphicon glyphicon-question-sign"></span></td>
                        <td id="c34"><span class="glyphicon glyphicon-question-sign"></span></td>
                        <td id="c35"><span class="glyphicon glyphicon-question-sign"></span></td>
                    </tr>
                    <tr>
                        <td id="c41"><span class="glyphicon glyphicon-question-sign"></span></td>
                        <td id="c42"><span class="glyphicon glyphicon-question-sign"></span></td>
                        <td id="c43"><span class="glyphicon glyphicon-question-sign"></span></td>
                        <td id="c44"><span class="glyphicon glyphicon-question-sign"></span></td>
                        <td id="c45"><span class="glyphicon glyphicon-question-sign"></span></td>
                    </tr>
                    <tr>
                        <td id="c51"><span class="glyphicon glyphicon-question-sign"></span></td>
                        <td id="c52"><span class="glyphicon glyphicon-question-sign"></span></td>
                        <td id="c53"><span class="glyphicon glyphicon-question-sign"></span></td>
                        <td id="c54"><span class="glyphicon glyphicon-question-sign"></span></td>
                        <td id="c55"><span class="glyphicon glyphicon-question-sign"></span></td>
                    </tr>
                </table>
                <div id="congrats_on_game" class="alert alert-success" style="display:none"> Congratulations! You've won a <span id="random_reward_choice"></span>&cent;/gal prize, for a total value of $<span id="random_reward" style="font-weight:bold"></span>. </div>
                <!--
                <button class="btn btn-lg btn-primary btn-block" id="game_history_button" style="margin-bottom:10px; display:none;">
                    History records
                </button>
                <button class="btn btn-lg btn-primary btn-block" id="game_again_button" style="margin-bottom:10px; display:none;">
                    Fuel up again
                </button>
                -->

            </div>
            <div class="jumbotron" id="dollar_div" style="display:none">
                <p style="margin-bottom:30px">
                Congrats!
                <BR>
                <BR>
                You have won <span style="font-weight: bold; font-family: 'Impact', cursive;">1</span> dollar!
                </p>
                <button class="btn btn-lg btn-primary btn-block" id="dollar_history_button" style="margin-bottom:10px">
                    History records
                </button>
                <button class="btn btn-lg btn-primary btn-block" id="dollar_again_button" style="margin-bottom:10px">
                    Fuelup again
                </button>
            </div>

        </div>

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->

        <script src="{{STATIC_URL}}fuel/assets/js/jquery.js"></script>
        <script src="{{STATIC_URL}}fuel/dist/js/bootstrap.min.js"></script>
        <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
        <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
        <script src="http://www.nihilogic.dk/labs/exif/exif.js"></script>
        <script src="http://www.nihilogic.dk/labs/binaryajax/binaryajax.js"></script>
        <script>

            var gallons = 0;

            $(document).ready(function() {

                $('#receipt_img').click(function(event) {
                    $("#receipt_input").click();
                });
                
                $('#post_button').click(function(event) {
                    showWaiting();
                    var formData = new FormData($('#fuelup_form')[0]);
                    formData.append('receipt', receipt_blob);

                    var xhrForm = new XMLHttpRequest();
                    xhrForm.open("POST", "/fuel/fuelup_post/");
                    xhrForm.send(formData);
                    xhrForm.onreadystatechange = function () {
                        if (xhrForm.readyState == 4 && xhrForm.status == 200) {
                            if(xhrForm.response == "success") {
                                showSelect();
                            }
                            else {
                                alert("post error.");
                            }
                        }
                    };
                    
                });

                $('#select_dollar_button').attr('onClick', 'showDollar()');

                $('#select_game_button').attr('onClick', 'showGame()');

                $('#game_again_button').click(function(event) {
                    location.reload();
                });

                $('#dollar_again_button').click(function(event) {
                    location.reload();
                });

                $('#receipt_input').change(function(event) {
                    $('#number_div').show();
                    var img = event.target.files[0];
                    var reader = new FileReader();
                    reader.onloadend = function(e) {
                        var source_image = new Image();
                        source_image.src = e.target.result;
                        source_image.onload = function() {
                            var result_image = document.getElementById('receipt_img');  
                            result_image.src = compress(source_image, 0.3);
                        }

                    }
                    reader.readAsDataURL(img);
                });

                $("table#game_table td").click(function() {
                    magicBox(this);
                });

                // update calculations
                $("input#gallons").change(function() {
                    updateCalc();
                });

            });

            function updateCalc() {
                gallons = parseFloat($('input#gallons').val());
                if (gallons > 0) {
                    $('span#remove_points').html(Math.floor(gallons*5));
                    $('span#add_gallons').html(gallons);
                    d = gallons * 0.05;
                    $('span#deterministic_reward').html(d.toFixed(2));
                    $('#para_points').show();
                    } else {
                    $('#para_points').hide();
                }
            }

            function dataURItoBlob(dataURI) {
                var binary = atob(dataURI.split(',')[1]);
                var array = [];
                for(var i = 0; i < binary.length; i++) {                    
                    array.push(binary.charCodeAt(i));
                }
                return new Blob([new Uint8Array(array)], {type: 'image/jpeg'});
            }

            var receipt_blob; 

            function compress(source_img_obj, quality) {
                var bin = atob(source_img_obj.src.split(',')[1]);
                var exif = EXIF.readFromBinaryFile(new BinaryFile(bin));
                var cvs = document.createElement('canvas');
                var width = source_img_obj.naturalWidth;
                var height = source_img_obj.naturalHeight;
                cvs.width = width*quality;
                cvs.height = height*quality;
                var ctx = cvs.getContext("2d");
                
                switch(exif.Orientation) {
                    case 1:
                        cvs.width = width*quality;
                        cvs.height = height*quality;
                        ctx.translate(cvs.width/2,cvs.height/2);
                        ctx.rotate(0*Math.PI/180);
                        break;
                    case 3:
                        cvs.width = width*quality;
                        cvs.height =height*quality;
                        ctx.translate(cvs.width/2,cvs.height/2);
                        ctx.rotate(180*Math.PI/180);
                        break;
                    case 6:
                        cvs.width = height*quality;
                        cvs.height = width*quality;
                        ctx.translate(cvs.width/2,cvs.height/2);
                        ctx.rotate(90*Math.PI/180);
                        break;
                    case 8:
                        cvs.width = height*quality;
                        cvs.height = width*quality;
                        ctx.translate(cvs.width/2,cvs.height/2);
                        ctx.rotate(270*Math.PI/180);
                        break;
                    default:
                }
                drawImageIOSFix(ctx, source_img_obj, 0, 0, width, height, -width*quality/2, -height*quality/2, width*quality, height*quality);

                var newImageData = cvs.toDataURL("image/jpeg");
                receipt_blob = dataURItoBlob(newImageData);
                return newImageData;
            }
            
            
            function detectVerticalSquash(img) {
                var iw = img.naturalWidth, ih = img.naturalHeight;
                var canvas = document.createElement('canvas');
                canvas.width = 1;
                canvas.height = ih;
                var ctx = canvas.getContext('2d');
                ctx.drawImage(img, 0, 0);
                var data = ctx.getImageData(0, 0, 1, ih).data;
                // search image edge pixel position in case it is squashed vertically.
                var sy = 0;
                var ey = ih;
                var py = ih;
                while (py > sy) {
                    var alpha = data[(py - 1) * 4 + 3];
                    if (alpha === 0) {
                        ey = py;
                    } else {
                        sy = py;
                    }
                    py = (ey + sy) >> 1;
                }
                var ratio = (py / ih);
                return (ratio===0)?1:ratio;
            }

            /**
            * A replacement for context.drawImage
            * (args are for source and destination).
            */
            function drawImageIOSFix(ctx, img, sx, sy, sw, sh, dx, dy, dw, dh) {
                var vertSquashRatio = detectVerticalSquash(img);
                ctx.drawImage(img, sx, sy, sw, sh, dx, dy, dw, dh / vertSquashRatio);
            }
            
            function showWaiting() {
                $('#splash_div').hide();
                $('#receipt_div').hide();
                $('#number_div').hide();
                $('#waiting_div').show();
            }

            function showSelect() {
            	$('#waiting_div').hide();
                $('#select_div').show();
            }

            function showGame() {
                $('#game_div').show();
                $('#select_div').hide();
                $('table#game_table td').each(function() {
                    $(this).height($(this).width());
                });
            }

            function showDollar() {
                $('#dollar_div').show();
                $('#select_div').hide();
            }

            var round = 0;
            var colorMap = new Array(0, 1, 1, 1, 2, 7, 0, 1, 2, 3, 7, 7, 3, 3, 3, 7, 6, 5, 4, 3, 6, 5, 5, 5, 4);
            var rewardMap = new Array(0, 1, 2, 0, 0, 1, 1, 0, 2, 1, 2, 3, 0, 1, 0, 1, 2, 0, 0, 1, 1, 0, 1, 1, 0);
            var selectedGrid = "";

            function magicBox(input) {
                h = $(input).html();
                $('table#game_table td').html('');
                $(input).html(h).addClass('selected');
                setTimeout(animate, 70);
            }

            function animate() {
                coloring(colorMap);
                round++;
                for (var i = 0; i < 25; i++) {
                    colorMap[i] = (colorMap[i] + 1) % 8;
                }
                if (round < 20) {
                    setTimeout(animate, 70);
                    return;
                }
                coloring(rewardMap);
                for (var i = 0; i < 25; i++) {
                    switch(rewardMap[i]) {
                        case 0:
                        $("#c" + Math.floor(i / 5 + 1) + (i % 5 + 1)).html("1&cent;");
                        break;
                        case 1:
                        $("#c" + Math.floor(i / 5 + 1) + (i % 5 + 1)).html("5&cent;");
                        break;
                        case 2:
                        $("#c" + Math.floor(i / 5 + 1) + (i % 5 + 1)).html("10&cent;");
                        break;
                        case 3:
                        $("#c" + Math.floor(i / 5 + 1) + (i % 5 + 1)).html("25&cent;");
                        break;
                        default:
                    }
                }
                choice = parseInt($('table#game_table td.selected').html());
                $('span#random_reward_choice').html(choice);
                r = gallons * choice / 100;
                $('span#random_reward').html(r.toFixed(2));
                
                $('#congrats_on_game').show();
                $('#game_history_button').show();
                $('#game_again_button').show();
            }

            function coloring(colorMap) {
                var colors = new Array('#C7A317', '#E9AB17', '#FDD017', '#FFFF00');
                for (var i = 0; i < 25; i++) {
                    $("#c" + Math.floor(i / 5 + 1) + (i % 5 + 1)).css('backgroundColor', colors[(colorMap[i]) % 4]);
                }
            }

        </script>

    </body>

</html>
