<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="{{STATIC_URL}}fuel/assets/ico/favicon.png">
        <link href='http://fonts.googleapis.com/css?family=Berkshire+Swash' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

        <title>Capri | fuel</title>

        <!-- Bootstrap core CSS -->
        <link href="{{STATIC_URL}}fuel/dist/css/bootstrap.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="{{STATIC_URL}}fuel/navbar-fixed-top.css" rel="stylesheet">
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />

    </head>

    <body>

        <!-- Fixed navbar -->

        <div class="navbar navbar-inverse navbar-fixed-top" style="background-color: #FF6633; border-style:none;">
            <div class="container">
                <div class="navbar-header">
                    <h3 style="margin-top:10px; margin-left:35px;"><span style="font-style: italic; font-weight: bold; color: #f6f3e5">Capri</span><span style="color:black; font-family: 'Berkshire Swash', cursive;"> | fuel<span style="vertical-align: 15%; font-size: 70%"><sup>&copy</sup></span></span></h3>
                </div>
            </div>
        </div>

        <div class="container">

            <!-- ---------------------Introduction div--------------------- -->
            <div id="intro_div">
                <div class="alert alert-success">
                    <h2>Welcome to Capri Fuel!</h2>
                    <p>Capri Fuel uses your Capri points to reward you for fueling up at gas stations. By uploading your fuel-up records, you have a chance to win cash prizes. Get started by registering your car!</p>
                </div>
                <button class="btn btn-lg btn-primary btn-block" id="intro_button" href="#">
                    <span class="glyphicon glyphicon-hand-right"></span> Register Car!
                </button>
            </div>

            <!-- ---------------------Register new car--------------------- -->
            <div  id="new_car_div" style="display:none;">
                <div class="alert alert-info container step">
                    <div class="icon-container">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </div>
                    &nbsp;
                    Please enter your car's details.
                </div>
                <form id="car_form" onsubmit="return false;">
                    {% csrf_token %}
                    <h4><span class="label label-primary" style="margin-bottom: 10px">Make</span></h4>
                    <input type="text" id="carmodels" name="make" style="margin-bottom: 10px" class="form-control" placeholder="Ford">
                    <h4><span class="label label-primary" style="margin-bottom: 10px">Model</span></h4>
                    <input type="text" id="carmakes" name="model" style="margin-bottom: 10px" class="form-control" placeholder="Escape">
                    <h4><span class="label label-primary" style="margin-bottom: 10px">Year</span></h4>
                    <select name="year" class="form-control" style="margin-bottom: 10px;">
                        <option>2013</option>
                        <option>2011</option>
                        <option>2011</option>
                        <option>2010</option>
                        <option>2009</option>
                        <option>2008</option>
                        <option>2007</option>
                        <option>2006</option>
                        <option>2005</option>
                        <option>2004</option>
                        <option>2003</option>
                        <option>2002</option>
                        <option>2001</option>
                        <option>2000</option>
                        <option>1999</option>
                        <option>1998</option>
                        <option>1997</option>
                        <option>1996</option>
                        <option>1995</option>
                        <option>1994</option>
                        <option>1993</option>
                        <option>1992</option>
                        <option>1991</option>
                        <option>1990</option>
                    </select>
                    <button class="btn btn-lg btn-primary  btn-block" id="add_car_button">
                        Done
                    </button>
                </form>
            </div>

            <!-- ---------------------Welcome div, show the steps--------------------- -->
            <div id="splash_div" style="display:none;">
                <div class="alert alert-success container">
                    <p>Congratulations! You have registered your car. Earning rewards is easy -- just follow the steps below!</p>
                </div>
                 <div class="alert alert-danger container step">
                    <div class="icon-container">
                        <span class="glyphicon glyphicon-camera"></span>
                    </div>
                    &nbsp;
                    Take a picture of your receipt.
                </div>
                <div class="alert alert-warning container step">
                    <div class="icon-container">
                        <span class="glyphicon glyphicon-dashboard "></span>
                    </div>
                    &nbsp;
                    Enter your fuel-up details.
                </div>
                <div class="alert alert-info container step">
                    <div class="icon-container">
                        <span class="glyphicon glyphicon-gift "></span>
                    </div>
                    &nbsp;
                    Choose your reward!
                </div>

                <button class="btn btn-lg btn-primary btn-block" id="splash_button">
                    <span class="glyphicon glyphicon-hand-right"></span>&nbsp;Let's go!
                </button>
            </div>



        </div>

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->

        <script src="{{STATIC_URL}}fuel/assets/js/jquery.js"></script>
        <script src="{{STATIC_URL}}fuel/dist/js/bootstrap.min.js"></script>
        <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
        <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
        <script>

            $(document).ready(function() {
                $('#intro_button').click(function() {
                    $('#intro_div').hide();
                    $('#new_car_div').show();
                });

                $('#add_car_button').click(function() {
                    $('#new_car_div').hide();
                    $.ajax({
                        url: "/fuel/registration/",
                        type: "POST",
                        data: $('#car_form').serialize(),
                        success: function(data) {
                            if(data == "success") {
                                $('#splash_div').show();
                            }
                        }
                    
                    });
                });

                $('#splash_button').click(function() {
                    window.location = "/fuel/"
                });
            });
            $(function() {
                var availableModels = ["Ford", "Honda", "Nissan", "Mazda", "Toyota", "BMW", "Tesla", "Subaru", "Audi", "Chevrolet"];
                $("#carmodels").autocomplete({
                    source : availableModels
                });
            });
            $(function() {
                var availableMakes = ["Corolla", "Wrangler", "Accord", "Escape"];
                $("#carmakes").autocomplete({
                    source : availableMakes
                });
            });

        </script>

    </body>

</html>
