<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="{{STATIC_URL}}fuel/assets/ico/favicon.png">
        <link href='http://fonts.googleapis.com/css?family=Berkshire+Swash' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

        <title>Capri | fuel</title>

        <!-- Bootstrap core CSS -->
        <link href="{{STATIC_URL}}fuel/dist/css/bootstrap.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="{{STATIC_URL}}fuel/navbar-fixed-top.css" rel="stylesheet">
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="../../assets/js/html5shiv.js"></script>
        <script src="../../assets/js/respond.min.js"></script>
        <![endif]-->

    </head>

    <body>

        <!-- Fixed navbar -->

        <div class="navbar navbar-inverse navbar-fixed-top" style="background-color: #FF6633; border-style:none;">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" style="border-style:none">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <button id="back_button" type="button" class="btn btn-default navbar-btn btn pull-left" style="border-color:black; background-color: #FF6633; border-style:none; margin-left:15px">
                        <span id="back_button_chevron" class="glyphicon glyphicon-chevron-left"></span>
                    </button>
                    <h3 style="margin-top:10px; text-align:center;"><span style="font-weight: bold; color: #f6f3e5">Capri</span><span style="color:black; font-family: 'Berkshire Swash', cursive;"> | fuel<span style="vertical-align: 15%; font-size: 70%"><sup>&copy</sup></span></span></h3>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#about" style="link:black">About</a>
                        </li>
                        <li>
                            <a href="#contact">Contact</a>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>

        <div class="container">
            <!-- ---------------------Welcome div, show the steps--------------------- -->
            <div id="splash_div">
                <div class="alert alert-danger container step">
                    <div class="icon-container">
                        <span class="glyphicon glyphicon-th-large"></span>
                    </div>
                    &nbsp;
                    Choose your car.
                </div>
                 <div class="alert alert-info container step">
                    <div class="icon-container">
                        <span class="glyphicon glyphicon-camera"></span>
                    </div>
                    &nbsp;
                    Take a picture of your receipt.
                </div>
                <div class="alert alert-warning container step">
                    <div class="icon-container">
                        <span class="glyphicon glyphicon-dashboard "></span>
                    </div>
                    &nbsp;
                    Enter your fuel-up details.
                </div>
                <div class="alert alert-success container step">
                    <div class="icon-container">
                        <span class="glyphicon glyphicon-gift "></span>
                    </div>
                    &nbsp;
                    Choose your reward!
                </div>

                <button class="btn btn-lg btn-primary btn-block" id="splash_button" href="#">
                    <span class="glyphicon glyphicon-hand-right"></span> Let's go!
                </button>
            </div>
            <!-- ---------------------Choose your car--------------------- -->
            <div  id="choose_car_div" style="display:none" >
                <div class="alert alert-danger container step">
                    <div class="icon-container">
                        <span class="glyphicon glyphicon-th-large"></span>
                    </div>
                    &nbsp;
                    Choose your car.
                </div>
                <table>
                    <tr>
                        <td> {% load staticfiles %}
                            <button class="btn btn-lg btn-primary  btn-block" id="choose_car_button" href="#" style="margin-bottom: 10px; text-align: left">

                                <img src="http://stanford.edu/~niloufar/car.gif" alt="" width = "30%" align="left" style="margin-right: 10px ">
                                Make: Altima
                                <BR>
                                Model: Nissan
                                <BR>
                                Year: 2009
                                <BR>

                        </button></td>
                    </tr>
                    <tr>
                        <td>
                            <button class="btn btn-lg btn-primary  btn-block" onclick="showReceipt();" href="#"  style="margin-bottom: 10px; text-align: left">
                                <img src="http://stanford.edu/~niloufar/car.gif" alt="" width = "30%" align="left" style="margin-right: 10px ">

                                Make: Fiesta
                                <BR>
                                Model: Ford
                                <BR>
                                Year: 2004
                                <BR>
                        </button></td>
                    </tr>
                    <tr>
                        <td>
                            <button class="btn btn-lg btn-primary  btn-block" id="new_car_button" href="#" style=" margin-left: auto; margin-right: auto">
                                <span class="glyphicon glyphicon-plus-sign" style="font-size:20px"></span><span style="font-size:20px"> New car</span>

                        </button></td>
                    </tr>

                </table>

            </div>

            <!-- ---------------------Register new car--------------------- -->
            <div  id="new_car_div" style="display:none">
                <div class="alert alert-info container step">
                    <div class="icon-container">
                        <span class="glyphicon glyphicon-icon-pencil"></span>
                    </div>
                    &nbsp;
                    Please enter your car's details.
                </div>
                <div class="alert alert-warning container step" style="margin=10px">
                    <table width="80%" style="margin-left: auto; margin-right: auto; margin-top: 10px; margin-bottom: 10px">
                        <tr>
                            <td>Make:</td>
                            <td>
                                <input type="text" id="carmodels" style="margin-bottom: 10px" class="form-control" placeholder="Model">
                            </td>
                        </tr>
                        <tr>
                            <td>Model:</td>
                            <td>
                                <input type="text" id="carmakes" style="margin-bottom: 10px" class="form-control" placeholder="Make">
                            </td>
                        </tr>
                        <tr>
                            <td>Year:</td>
                            <td>
                                <input type="text" id="caryear" style="margin-bottom: 10px" class="form-control" placeholder="Year">
                            </td>
                        </tr>

                        <tr>
                            <td></td>
                            <td>
                                <button class="btn btn-lg btn-primary  btn-block" id="add_car_button" href="#" style="margin-left: auto; margin-right: auto">
                                    <span class="glyphicon glyphicon-plus" style="font-size:20px"></span><span style="font-size:20px"> Add car</span>
                            </button></td>
                            <td></td>
                        </tr>
                    </table>
                </div>

            </div>

            <!-- ---------------------Taking picture div--------------------- -->
            <div id="receipt_div" style="display:none;">
                <div class="alert alert-info container step">

                    <div class="icon-container">
                        <span class="glyphicon glyphicon-camera"></span>
                    </div>
                    &nbsp;
                    Take a picture of your receipt.
                </div>
                <div style="text-align:center;">
                    <img id="receipt_img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSvFLI-nVCBV40l29R7KDHRbk2CVF1GBCp93em6q5VkNH0PDfGt" style="width:80%; margin-left:auto; margin-right:auto; margin-bottom:10px;">
                </div>
                <button class="btn btn-lg btn-primary btn-block" id="receipt_button" style="display:none">
                    <span class="glyphicon glyphicon-hand-right"></span> Continue
                </button>
                </p>
            </div>

            <!-- ---------------------Typing in numbers div--------------------- -->
            <div id="number_div" style="display:none">
                <div class="alert alert-warning container step">
                    <div class="icon-container">
                        <span class="glyphicon glyphicon-dashboard"></span>
                    </div>
                    &nbsp;
                    Enter your fuel-up details.
                </div>
                <form method="post" action="">
                    <input id="receipt_input" type="file" accept="image/*" capture="camera" style="display:none">
                    <h4><span class="label label-primary" style="margin-bottom: 10px">Unit price ($/gal)</span></h4>
                    <input id="price" name="price" type="number" step="any" style="margin-bottom: 15px" class="form-control" placeholder="$/gal">
                    <h4><span class="label label-primary" style="margin-bottom: 10px">Gallons</span></h4>
                    <input id="gallons" name="gallons" type="number" step="any" style="margin-bottom: 15px" class="form-control" placeholder="gal">
                    <h4><span class="label label-primary" style="margin-bottom: 10px">Fuel Grade</span></h4>
                    <div class="btn-group" data-toggle="buttons" style="margin-bottom: 5px">
                        <label class="btn btn-default">
                            <input type="radio" name="grade" value="87" id="grade-87">
                            87 </label>
                        <label class="btn btn-default">
                            <input type="radio" name="grade" value="89" id="grade-89">
                            89 </label>
                        <label class="btn btn-default">
                            <input type="radio" name="grade" value="91" id="grade-91">
                            91 </label>
                        <label class="btn btn-default">
                            <input type="radio" name="grade" value="2"  id="grade-diesel-2">
                            Diesel #2 </label>
                    </div>
                    <div>
                        <h4><span class="label label-primary" style="margin-bottom: 10px">Gas Station Chain</span></h4>
                        <select class="form-control input-medium" style="margin-bottom:15px">
                            <option>Shell</option>
                            <option>Chevron</option>
                            <option>Valero</option>
                            <option>Costco</option>
                            <option>Arco</option>
                            <option>76</option>
                            <option>Rotten Robbie</option>
                            <option>Other</option>
                        </select>
                    </div>
                    <p id="para_points" style="display:none">
                    We will remove <span id="remove_points"></span> points for your <span id="add_gallons"></span> gallon fuel-up.
                    </p>
                    <button class="btn btn-lg btn-primary btn-block" id="number_button" style="margin-bottom: 10px">
                        <span class="glyphicon glyphicon-gift"></span> Choose your reward!
                    </button>
                </form>
            </div>

            <!-- Div for displaying point deduction and picking fixed or random -->

            <div id="select_div" style="display:none">
                <div class="alert alert-success container step">
                    <div class="icon-container">
                        <span class="glyphicon glyphicon-gift"></span>
                    </div>
                    &nbsp;
                    Choose your reward!
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <button class="btn btn-lg btn-primary btn-block" id="select_dollar_button" style="margin-bottom:10px">
                                <span class="glyphicon glyphicon-usd glyphicon-xlarge"></span>
                                <p>
                                5&cent;/gal reward: $<span id="deterministic_reward"></span>
                                </p>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <button class="btn btn-lg btn-primary btn-block" id="select_game_button" style="margin-bottom:10px">
                                <span class="glyphicon glyphicon-question-sign glyphicon-xlarge"></span>
                                <p>
                                I'm feeling lucky!
                                </p>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Game div -->

            <div id="game_div" style="display:none">
                <div class="alert alert-success container step">
                    <div class="icon-container">
                        <span class="glyphicon glyphicon-question-sign"></span>
                    </div>
                    &nbsp;
                    Pick a square, any square!
                </div>
                <table id="game_table">
                    <tr>
                        <td id="c11"><span class="glyphicon glyphicon-question-sign"></span></td>
                        <td id="c12"><span class="glyphicon glyphicon-question-sign"></span></td>
                        <td id="c13"><span class="glyphicon glyphicon-question-sign"></span></td>
                        <td id="c14"><span class="glyphicon glyphicon-question-sign"></span></td>
                        <td id="c15"><span class="glyphicon glyphicon-question-sign"></span></td>
                    </tr>
                    <tr>
                        <td id="c21"><span class="glyphicon glyphicon-question-sign"></span></td>
                        <td id="c22"><span class="glyphicon glyphicon-question-sign"></span></td>
                        <td id="c23"><span class="glyphicon glyphicon-question-sign"></span></td>
                        <td id="c24"><span class="glyphicon glyphicon-question-sign"></span></td>
                        <td id="c25"><span class="glyphicon glyphicon-question-sign"></span></td>
                    </tr>
                    <tr>
                        <td id="c31"><span class="glyphicon glyphicon-question-sign"></span></td>
                        <td id="c32"><span class="glyphicon glyphicon-question-sign"></span></td>
                        <td id="c33"><span class="glyphicon glyphicon-question-sign"></span></td>
                        <td id="c34"><span class="glyphicon glyphicon-question-sign"></span></td>
                        <td id="c35"><span class="glyphicon glyphicon-question-sign"></span></td>
                    </tr>
                    <tr>
                        <td id="c41"><span class="glyphicon glyphicon-question-sign"></span></td>
                        <td id="c42"><span class="glyphicon glyphicon-question-sign"></span></td>
                        <td id="c43"><span class="glyphicon glyphicon-question-sign"></span></td>
                        <td id="c44"><span class="glyphicon glyphicon-question-sign"></span></td>
                        <td id="c45"><span class="glyphicon glyphicon-question-sign"></span></td>
                    </tr>
                    <tr>
                        <td id="c51"><span class="glyphicon glyphicon-question-sign"></span></td>
                        <td id="c52"><span class="glyphicon glyphicon-question-sign"></span></td>
                        <td id="c53"><span class="glyphicon glyphicon-question-sign"></span></td>
                        <td id="c54"><span class="glyphicon glyphicon-question-sign"></span></td>
                        <td id="c55"><span class="glyphicon glyphicon-question-sign"></span></td>
                    </tr>
                </table>
                <div id="congrats_on_game" class="alert alert-success" style="display:none"> Congratulations! You've won a <span id="random_reward_choice"></span>&cent;/gal prize, for a total value of $<span id="random_reward" style="font-weight:bold"></span>. </div>
                <!--
                <button class="btn btn-lg btn-primary btn-block" id="game_history_button" style="margin-bottom:10px; display:none;">
                    History records
                </button>
                <button class="btn btn-lg btn-primary btn-block" id="game_again_button" style="margin-bottom:10px; display:none;">
                    Fuel up again
                </button>
                -->

            </div>
            <div class="jumbotron" id="dollar_div" style="display:none">
                <p style="margin-bottom:30px">
                Congrats!
                <BR>
                <BR>
                You have won <span style="font-weight: bold; font-family: 'Impact', cursive;">1</span> dollar!
                </p>
                <button class="btn btn-lg btn-primary btn-block" id="dollar_history_button" style="margin-bottom:10px">
                    History records
                </button>
                <button class="btn btn-lg btn-primary btn-block" id="dollar_again_button" style="margin-bottom:10px">
                    Fuelup again
                </button>
            </div>

        </div>

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->

        <script src="{{STATIC_URL}}fuel/assets/js/jquery.js"></script>
        <script src="{{STATIC_URL}}fuel/dist/js/bootstrap.min.js"></script>
        <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
        <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
        <script>

            var gallons = 0;

            $(document).ready(function() {

                $('#splash_button').attr('onClick', 'showChooseCar()');

                $('#choose_car_button').attr('onClick', 'showReceipt()');

                $('#new_car_button').attr('onClick', 'showNewCar()');

                $('#add_car_button').attr('onClick', 'showChooseCar()');

                $('#receipt_img').click(function(event) {
                    $("#receipt_input").click();
                });

                $('#receipt_button').attr('onClick', 'showNumber()');

                $('#number_button').attr('onClick', 'showSelect(); return false;');

                $('#select_dollar_button').attr('onClick', 'showDollar()');

                $('#select_game_button').attr('onClick', 'showGame()');

                $('#game_again_button').click(function(event) {
                    location.reload();
                });

                $('#dollar_again_button').click(function(event) {
                    location.reload();
                });

                $('#receipt_input').change(function(event) {
                    img = event.target.files[0];
                    var reader = new FileReader();
                    reader.onload = function(e) {
                        $('#receipt_img').attr('src', e.target.result);
                        $('#receipt_button').show();
                    }
                    reader.readAsDataURL(img);
                });

                $("table#game_table td").click(function() {
                    magicBox(this);
                });

                // update calculations
                $("input#gallons").change(function() {
                    updateCalc();
                });

                showSplash();

            });
            $(function() {
                var availableModels = ["Ford", "Honda", "Nissan", "Mazda", "Toyota", "BMW", "Tesla", "Subaru", "Audi", "Chevrolet"];
                $("#carmodels").autocomplete({
                    source : availableModels
                });
            });
            $(function() {
                var availableMakes = ["Corolla", "Wrangler", "Accord", "Escape"];
                $("#carmakes").autocomplete({
                    source : availableMakes
                });
            });
            function updateCalc() {
                gallons = parseFloat($('input#gallons').val());
                if (gallons > 0) {
                    $('span#remove_points').html(Math.floor(gallons*5));
                    $('span#add_gallons').html(gallons);
                    d = gallons * 0.05;
                    $('span#deterministic_reward').html(d.toFixed(2));
                    $('p#para_points').show();
                    } else {
                    $('p#para_points').hide();
                }
            }

            function showSplash() {
                $('#splash_div').show();
                $('#receipt_div').hide();
                $('#choose_car_div').hide();
                $('#back_button').prop('disabled', true);
                $('#back_button').attr('onClick', "");
            }

            function showChooseCar() {
                $('#choose_car_div').show();
                $('#splash_div').hide();
                $('#new_car_div').hide();
                $('#receipt_div').hide();
                $('#back_button').prop('disabled', false);
                $('#back_button').attr('onClick', "showSplash()");
            }

            function showNewCar() {
                $('#new_car_div').show();
                $('#choose_car_div').hide();
                $('#receipt_div').hide();
                $('#back_button').prop('disabled', false);
                $('#back_button').attr('onClick', "showChooseCar()");
            }

            function showReceipt() {
                $('#receipt_div').show();
                $('#splash_div').hide();
                $('#choose_car_div').hide();
                $('#number_div').hide();
                $('#back_button').prop('disabled', false);
                $('#back_button').attr('onClick', "showChooseCar()");
            }

            function showNumber() {
                $('#number_div').show();
                $('#receipt_div').hide();
                $('#back_button').attr('onClick', "showReceipt()");
            }

            function showSelect() {
                $('#select_div').show();
                $('#number_div').hide();
                $('#game_div').hide();
                $('#back_button').prop('disabled', true);
                $('#back_button').attr('onClick', "");
            }

            function showGame() {
                $('#game_div').show();
                $('#select_div').hide();
                $('table#game_table td').each(function() {
                    $(this).height($(this).width());
                });
            }

            function showDollar() {
                $('#dollar_div').show();
                $('#select_div').hide();
            }

            var round = 0;
            var colorMap = new Array(0, 1, 1, 1, 2, 7, 0, 1, 2, 3, 7, 7, 3, 3, 3, 7, 6, 5, 4, 3, 6, 5, 5, 5, 4);
            var rewardMap = new Array(0, 1, 2, 0, 0, 1, 1, 0, 2, 1, 2, 3, 0, 1, 0, 1, 2, 0, 0, 1, 1, 0, 1, 1, 0);
            var selectedGrid = "";

            function magicBox(input) {
                h = $(input).html();
                $('table#game_table td').html('');
                $(input).html(h).addClass('selected');
                setTimeout(animate, 70);
            }

            function animate() {
                coloring(colorMap);
                round++;
                for (var i = 0; i < 25; i++) {
                    colorMap[i] = (colorMap[i] + 1) % 8;
                }
                if (round < 20) {
                    setTimeout(animate, 70);
                    return;
                }
                coloring(rewardMap);
                for (var i = 0; i < 25; i++) {
                    switch(rewardMap[i]) {
                        case 0:
                        $("#c" + Math.floor(i / 5 + 1) + (i % 5 + 1)).html("1&cent;");
                        break;
                        case 1:
                        $("#c" + Math.floor(i / 5 + 1) + (i % 5 + 1)).html("5&cent;");
                        break;
                        case 2:
                        $("#c" + Math.floor(i / 5 + 1) + (i % 5 + 1)).html("10&cent;");
                        break;
                        case 3:
                        $("#c" + Math.floor(i / 5 + 1) + (i % 5 + 1)).html("25&cent;");
                        break;
                        default:
                    }
                }
                choice = parseInt($('table#game_table td.selected').html());
                $('span#random_reward_choice').html(choice);
                r = gallons * choice / 100;
                $('span#random_reward').html(r.toFixed(2));
                
                $('#congrats_on_game').show();
                $('#game_history_button').show();
                $('#game_again_button').show();
            }

            function coloring(colorMap) {
                var colors = new Array('#C7A317', '#E9AB17', '#FDD017', '#FFFF00');
                for (var i = 0; i < 25; i++) {
                    $("#c" + Math.floor(i / 5 + 1) + (i % 5 + 1)).css('backgroundColor', colors[(colorMap[i]) % 4]);
                }
            }

        </script>

    </body>

</html>
