<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="{{STATIC_URL}}fuel/assets/ico/favicon.png">
        <link href='http://fonts.googleapis.com/css?family=Berkshire+Swash' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

        <title>Capri | fuel</title>

        <!-- Bootstrap core CSS -->
        <link href="{{STATIC_URL}}fuel/dist/css/bootstrap.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="{{STATIC_URL}}fuel/navbar-fixed-top.css" rel="stylesheet">
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />

    </head>

    <body>

        <!-- Fixed navbar -->

        <div class="navbar navbar-inverse navbar-fixed-top" style="background-color: #FF6633; border-style:none;">
            <div class="container">
                <div class="navbar-header">
                    <h3 style="margin-top:10px; margin-left:35px;"><span style="font-style: italic; font-weight: bold; color: #f6f3e5">Capri</span><span style="color:black; font-family: 'Berkshire Swash', cursive;"> | fuel<span style="vertical-align: 15%; font-size: 70%"><sup>&copy</sup></span></span></h3>
                </div>
            </div>
        </div>

        <div class="container">

            <!-- ---------------------Introduction div--------------------- -->
            <div id="intro_div">
                <div class="alert alert-danger container">
                    Welcome to Capri Fuel! Introduction to the project.
                </div>
                <button class="btn btn-lg btn-primary btn-block" id="intro_button" href="#">
                    <span class="glyphicon glyphicon-hand-right"></span> Register Car!
                </button>
            </div>

            <!-- ---------------------Register new car--------------------- -->
            <div  id="new_car_div" style="">
                <div class="alert alert-info container step">
                    <div class="icon-container">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </div>
                    &nbsp;
                    Please enter your car's details.
                </div>
                <form id="car_form" action="return false;">
                    {% csrf_token %}
                    <h4><span class="label label-primary" style="margin-bottom: 10px">Make</span></h4>
                    <input type="text" id="carmodels" name="make" style="margin-bottom: 10px" class="form-control" placeholder="Ford">
                    <h4><span class="label label-primary" style="margin-bottom: 10px">Model</span></h4>
                    <input type="text" id="carmakes" name="model" style="margin-bottom: 10px" class="form-control" placeholder="Escape">
                    <h4><span class="label label-primary" style="margin-bottom: 10px">Year</span></h4>
                    <input type="text" id="caryear" name="year" style="margin-bottom: 10px" class="form-control" placeholder="2013">

                    <button class="btn btn-lg btn-primary  btn-block" id="add_car_button">
                        <span class="glyphicon glyphicon-plus" style="font-size:20px"></span><span style="font-size:20px"> Done</span>
                    </button>
                </form>
            </div>

            <!-- ---------------------Welcome div, show the steps--------------------- -->
            <div id="splash_div">
                <div class="alert alert-danger container">
                    Congratulations! You have completed registering your car. It's very easy to get started on fuel-up!
                </div>
                 <div class="alert alert-info container step">
                    <div class="icon-container">
                        <span class="glyphicon glyphicon-camera"></span>
                    </div>
                    &nbsp;
                    Take a picture of your receipt.
                </div>
                <div class="alert alert-warning container step">
                    <div class="icon-container">
                        <span class="glyphicon glyphicon-dashboard "></span>
                    </div>
                    &nbsp;
                    Enter your fuel-up details.
                </div>
                <div class="alert alert-success container step">
                    <div class="icon-container">
                        <span class="glyphicon glyphicon-gift "></span>
                    </div>
                    &nbsp;
                    Choose your reward!
                </div>

                <button class="btn btn-lg btn-primary btn-block" id="welcome_button">
                    <span class="glyphicon glyphicon-hand-right"></span> Let's go!
                </button>
            </div>



        </div>

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->

        <script src="{{STATIC_URL}}fuel/assets/js/jquery.js"></script>
        <script src="{{STATIC_URL}}fuel/dist/js/bootstrap.min.js"></script>
        <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
        <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
        <script>

            $(document).ready(function() {

            });
            $(function() {
                var availableModels = ["Ford", "Honda", "Nissan", "Mazda", "Toyota", "BMW", "Tesla", "Subaru", "Audi", "Chevrolet"];
                $("#carmodels").autocomplete({
                    source : availableModels
                });
            });
            $(function() {
                var availableMakes = ["Corolla", "Wrangler", "Accord", "Escape"];
                $("#carmakes").autocomplete({
                    source : availableMakes
                });
            });

        </script>

    </body>

</html>
